<h3>Editar Topico</h3>
<p>{{topico.titulo}}</p>

<form [formGroup]="form" #myForm="ngForm" (ngSubmit)="submitForm()" novalidate>

    <div class="inputs">
        <label for="titulo">Titulo: </label>
        <input type="text" name="titulo" formControlName="titulo" placeholder="Titulo">
    </div>

    <div class="inputs">
        <label for="mensagem">Mensagem: </label>
        <input type="text" name="mensagem" formControlName="mensagem" placeholder="Mensagem">
    </div>

    <input [disabled]="!form.valid" type="submit" value="Editar" class="btn btn-primary botao">
    <button [disabled]="!form.valid" class="btn btn-primary botao" (click)="submitCriar()">Criar</button>
</form>

<button class="btn btn-secondary botao" (click)="voltar()">Voltar</button>